:root{
    --color : #5f9ea0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
body {
    color: var(--color);
    background-image: url(ressources/img/fond.jpg);
    overflow-x: hidden;
}
header, nav{
    width: 100vw;
    height: 100vh;
}        
.titlePage{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1#mainTitle{
    font-size: 3em;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.elements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.element{
    margin: 5px;
    padding: 2.5em;
    border: solid 1px var(--color);

    border-radius: 5px;
}

a{
    text-decoration: none;
    color: var(--color);
}
/* a:hover{
    text-decoration: underline;
    transform: scale(1.1);
} */


/* FUCK AI, JUST USE UR BRAIN AND MAKE WHAT YOU WANT! */