:root{
    --color : #5f9ea0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
body {
    color: var(--color);
    background-image: url(../img/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
header, nav{
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
}        
.titlePage, .container{
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
}
.titlePage{
    max-width: 80vw;

}
h1#mainTitle{
    font-size: 3em;
}

.elements{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.element{
    margin: calc(2em*0.3);
    padding: 2em;
    border: solid 2px var(--color);
    border-radius: 5px;
    background-color: #042425;
}
a.card{
    text-decoration: none;
    color: var(--color);
    transition: 0.3s;
}
a.card:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
p.cardText{
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
}

/* FUCK AI, JUST USE YOUR BRAIN AND MAKE WHAT YOU WANT! */