* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
body {
    color: #FFF;
    background-color: #3d3d3d;
}
.bande{
    width: 100%;
    height: 100%;
}
.right, .left, .logo{
    margin: 15px;
}
.right{
    position: absolute;
    right: 0;
    top: 0;
}
.left{
    left: 0;
}
.list{
    border: solid 1px black;
    width: 80%;
    align-self: center;
    justify-self: center;
    margin: 15px 0;
}
ol{
    margin: 20px;
}
a{
    color: #FFF;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.logo > a > img{
    width: 150px;
    height: auto;
}