*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.haut{
    height: 12.5vh;
    background-color: royalblue;
}
.menu{
    height: 5vh;
    background-color: blueviolet;
}
.mid{
    height: 70vh;
    background-color: yellow;
    width: calc(100vw - 5vh);
    margin: 2.5vh auto;
}
.bas{
    height: calc(100vh - (70vh + 10vh + 12.5vh));
    background-color: royalblue;
}

.return{
    float: right;
    color: black;
    margin-right: 15px;
}