:root{
    --defaut-color : #fff;
    --theme : #3d3d3d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    
body {
    color: var(--defaut-color);
    background-color: var(--theme);
}
a{
    text-decoration: none;
    color: var(--defaut-color);
}
a:hover{
    text-decoration: underline;
}
.btn{
    position: absolute;
    right: 0;
    margin: 0 15px;
}
header{
    margin-top: 5vh;
}
table, td{
    margin-top: 5vh;
    justify-self: center;
    width: 80vw;
}
table, tr, th, td{
    border: solid 1px black;
    text-align: center;
}
th, td{
    padding: 10px;
}
.no_border{
    border: none;
    background-color: var(--theme);
}
#jours > th{
    background-color: green;
}
#jours > th.weekend{
    background-color: rgb(118, 163, 118);
}