*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.haut{
    height: 12.5vh;
    background-color: red;
}
nav{
    display: inline-block;
    position: absolute;
}
.haut, .gauche, .droite, .bas, .colonne{
    text-align: center;
    align-content: center;
}
.gauche{
    float: left;
    width: 12.5vw;
    background-color: blue;
}
.mid{   
    float:left;
    background: green;
    width: 75vw;
    height: 72.5vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.droite{
    float: right;
    width: 12.5vw;
    background-color: brown;
}
.bas{
    float: left;
    background-color: chocolate;
    width: 75vw;
    height: 15vh;
}
.gauche, .droite{  
    height: 87.5vh;
    position: relative;
}

.colonne{
    border: solid 2px white;
}

.return{
    float: right;
    margin: 10px;
}