body { 
    font-family: sans-serif; 
    margin: 20px; 
}
form { 
    margin-bottom: 20px; 
}
input, select, button { 
    padding: 8px; 
    margin-right: 5px; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th { 
    background-color:#f4f4f4; 
}

#back{
    position: relative;
    float: right;
    right: 0;
}

